<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @server.name %>
</p>

<p>
  <b>Location:</b>
  <%= @server.location %>
</p>

<p>
  <b>Ip:</b>
  <%= @server.ip %>
</p>

<p>
  <b>Comments:</b>
  <%= @server.comments %>
</p>


<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
